*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
}

html{
    font-size: 16px;
    line-height: 10px;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to right bottom, rgba(119, 160, 119, 0.507), rgba(255, 255, 0, 0.52)), url(../img/grass.png);
    background-size: 100vw 100vh,120vw 120vh;
    background-repeat: no-repeat, no-repeat;
    overflow: hidden;
}

.flex{
    display: flex;
}

.block{
    display: block;
}

.ibl{
   display: inline-block; 
}

.tacenter{
    text-align: center;
}

.fs5{
    font-size: 5rem;
}
.fs4{
    font-size: 4rem;
}
.fs3{
    font-size: 3rem;
}
.fs25{
    font-size: 2.5rem;
}
.fs2{
    font-size: 2rem;
}
.fs18{
    font-size: 1.8rem;
}
.fs15{
    font-size: 1.5rem;
}
.fs1{
    font-size: 1rem;
}

.mar-cent{
    margin: 0 auto;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}
@media screen and (min-width: 0px){
    .spread{
        letter-spacing: 8px;
        line-height: 2rem;
    }

    .header{
        padding: 10px 0;
        line-height: 3rem;
        background-color: rgba(255, 255, 255, 0.705);
        margin: 10px 10px 0;
        border-radius: 20px;
    }

    .max-width{
        max-width: 1360px;
        padding: 20px 0;
    }

    #content{
        margin-top: 50px;
    }

    #canvasHolder{
        position: relative;
        width: 100%;
    }

    #gamecanvas{
        display: block;
        margin: 0 auto;
    }

    #controls{
        width: 50%;
        color: beige;
    }

    #joypad{
        margin-top: 140px;
        height: 50px;
    }

    #ref{
        height: 100%;
        width: 50px;
    }

    #joypad .keys{
        position: absolute;
        height: 50px;
        width: 50px;
        background-color: rgb(22, 104, 93);
        cursor: pointer;
    }

    #keyup,#keydown{
        left: 0;
    }
    #keyleft,#keyright{
        top: 0;
    }
    #keyup{
        top: -60px;
        clip-path: polygon(50% 0%, 120% 100%, -20% 100%);
    }
    #keydown{
        bottom: -60px;
        clip-path: polygon(50% 100%, 120% 0%, -20% 0%);
    }
    #keyright{
        right: -60px;
        clip-path: polygon(100% 50%, 0% 120%, 0% -20%);
    }
    #keyleft{
        left: -60px;
        clip-path: polygon(0% 50%, 100% 120%, 100% -20%);
    }

    #pause{
        margin-top: 100px;
        width: 200px;
        cursor: pointer;
    }

    #autonomous{
        margin-top: 20px;
        width: 200px;
        cursor: pointer;
    }

    #speedchange{
        justify-content: space-evenly;
        flex-direction: row;
        margin-top: 60px;
        cursor: pointer;
    }

    .speed-controls{
        width: 180px;
        cursor: pointer;
    }

    .ex-controls{
        background-color: rgb(22, 104, 93);
        line-height: 2.5rem;
        cursor: pointer;
    }
}


@media screen and (max-width: 564px){
    html{
        font-size: 14px;
    }
    .max-width{
        max-width: 1360px;
        padding: 0 0;
    }

    #content{
        margin-top: 20px;
    }

    #canvasHolder{
        position: relative;
        width: 100%;
    }

    #gamecanvas{
        display: block;
        margin: 0 auto;
    }

    #controls{
        width: 100%;
    }

    #joypad{
        margin-top: 0px;
        height: 50px;
        float: right;
        margin-right: 20%;
    }

    #ref{
        height: 100%;
        width: 50px;
    }

    #joypad .keys{
        position: absolute;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }

    #keyup,#keydown{
        left: 0;
    }
    #keyleft,#keyright{
        top: 0;
    }
    #keyup{
        top: -60px;
        clip-path: polygon(50% 0%, 120% 100%, -20% 100%);
    }
    #keydown{
        bottom: -60px;
        clip-path: polygon(50% 100%, 120% 0%, -20% 0%);
    }
    #keyright{
        right: -60px;
        clip-path: polygon(100% 50%, 0% 120%, 0% -20%);
    }
    #keyleft{
        left: -60px;
        clip-path: polygon(0% 50%, 100% 120%, 100% -20%);
    }

    #pause{
        margin-top: 10px;
        display: block;
        width: 40%;
        cursor: pointer;
        margin-left: 50px;
    }

    #autonomous{
        margin-top: 10px;
        width: 40%;
        display: block;
        cursor: pointer;
        margin-left: 50px;
    }

    #speedchange{
        display: block;
        margin-top: 10px;
        width: 40%;
        margin-left: 50px;
        cursor: pointer;
    }
    #speedchange div{
        display: inline-block;
        margin-top: 10px;
        width: 100%;
        cursor: pointer;
    }

    .speed-controls{
        width: 180px;
        cursor: pointer;
    }

    .ex-controls{
        line-height: 2.5rem;
        cursor: pointer;
        margin-right: 40px;
    }
}


@media screen and (max-width: 900px) and (min-width:564px){
    html{
        font-size: 16px;
    }
    .max-width{
        max-width: 1360px;
        padding: 0 0;
    }

    #content{
        margin-top: 20px;
    }

    #canvasHolder{
        position: relative;
        width: 100%;
    }

    #gamecanvas{
        display: block;
        margin: 0 auto;
    }

    #controls{
        width: 100%;
    }

    #joypad{
        margin-top: 0px;
        height: 50px;
        float: right;
        margin-right: 20%;
    }

    #ref{
        height: 100%;
        width: 50px;
    }

    #joypad .keys{
        position: absolute;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }

    #keyup,#keydown{
        left: 0;
    }
    #keyleft,#keyright{
        top: 0;
    }
    #keyup{
        top: -60px;
        clip-path: polygon(50% 0%, 120% 100%, -20% 100%);
    }
    #keydown{
        bottom: -60px;
        clip-path: polygon(50% 100%, 120% 0%, -20% 0%);
    }
    #keyright{
        right: -60px;
        clip-path: polygon(100% 50%, 0% 120%, 0% -20%);
    }
    #keyleft{
        left: -60px;
        clip-path: polygon(0% 50%, 100% 120%, 100% -20%);
    }

    #pause{
        margin-top: 20px;
        display: block;
        width: 40%;
        cursor: pointer;
        margin-left: 100px;
    }

    #autonomous{
        margin-top: 10px;
        width: 40%;
        display: block;
        cursor: pointer;
        margin-left: 100px;
    }

    #speedchange{
        display: block;
        margin-top: 30px;
        width: 40%;
        margin-left: 100px;
        cursor: pointer;
    }
    #speedchange div{
        display: inline-block;
        margin-top: 20px;
        width: 100%;
        cursor: pointer;
    }

    .speed-controls{
        width: 180px;
    }

    .ex-controls{
        margin-right: 40px;
    }
}

@media screen and (min-width:900px) 
{
    .header{
        padding: 10px 0;
        line-height: 3rem;
        background-color: rgba(255, 255, 255, 0.705);
        margin: 10px 10px 0;
        border-radius: 20px;
    }

    .max-width{
        display: flex;
        justify-content: space-around;
        max-width: 1360px;
        margin: 0 auto;
        padding: 20px 40px;
    }

    #content{
        margin-top: 50px;
    }

    #canvasHolder{
        display: block;
        position: relative;
        width: 50%;
        max-width: 564px;
        float: left;
    }

    #controls{
        width: 40%;
        display: block;
    }

    #joypad{
        margin-top: 140px;
        height: 50px;
    }

    #ref{
        height: 100%;
        width: 50px;
    }

    #joypad .keys{
        position: absolute;
        height: 50px;
        width: 50px;
        background-color: rgb(22, 104, 93);
        cursor: pointer;
    }

    #keyup,#keydown{
        left: 0;
    }
    #keyleft,#keyright{
        top: 0;
    }
    #keyup{
        top: -60px;
        clip-path: polygon(50% 0%, 120% 100%, -20% 100%);
    }
    #keydown{
        bottom: -60px;
        clip-path: polygon(50% 100%, 120% 0%, -20% 0%);
    }
    #keyright{
        right: -60px;
        clip-path: polygon(100% 50%, 0% 120%, 0% -20%);
    }
    #keyleft{
        left: -60px;
        clip-path: polygon(0% 50%, 100% 120%, 100% -20%);
    }

    #pause{
        margin-top: 100px;
        width: 200px;
        cursor: pointer;
    }

    #autonomous{
        margin-top: 20px;
        width: 200px;
        cursor: pointer;
    }

    #speedchange{
        justify-content: space-evenly;
        flex-direction: row;
        margin-top: 60px;
        cursor: pointer;
    }

    .speed-controls{
        width: 180px;
        cursor: pointer;
    }

    .ex-controls{
        background-color: rgb(22, 104, 93);
        line-height: 2.5rem;
        cursor: pointer;
    }   
}

.loading-overlay{
    position: fixed;
    z-index: 4;
    background: linear-gradient(to right bottom, rgba(119, 160, 119, 0.507), rgba(255, 255, 0, 0.52)), url(../img/grass.png);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    flex-direction: column;
    align-items: center;
    animation: 2.6s toinv linear 0.5s;
    animation-fill-mode: forwards;
}

.loading{
    margin-top: 40vh;
    font-size: 2.5rem;
}

.statusbar{
    display: inline-block;
    height: 30px;
    width: 80%;
    max-width: 600px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 100px;
}

.percentage{
    background-color: rgb(22, 104, 93);
    width: 0px;
    height: 100%;
    animation: 2s load linear 0.5s;
    animation-fill-mode: forwards;
}

@keyframes load{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes toinv{
    0%{
        opacity: 1;
    }
    90%{
        opacity : 1;
        z-index : 4;
    }
    100%{
        opacity : 0;
        z-index: -1;
    }
}

#pause_overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.514);
    z-index: 2;
}
.fa-play{
    font-size: 100px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform-origin: center;

}
.fa-play:hover{
    transform: scale(1.05);
}

.play{
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#mazeSelector{
    background: linear-gradient(to right bottom, rgba(119, 160, 119, 0.507), rgba(255, 255, 0, 0.52)), url(../img/grass.png);
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.maze{
    height: 60px;
    width: 300px;
    margin: 20px ;
    line-height: 60px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(22, 104, 93);
    border-radius: 10px;
    color: beige;
    cursor: pointer;
}
.maze2{
    height: 60px;
    width: 300px;
    text-align: left;
    margin: 20px ;
    line-height: 60px;
    font-size:  50px;
    text-align: center;
    border-radius: 10px;
    color: beige;
    cursor: pointer;
}
.maze:hover{
    transform: scale(1.05);
}

.hoverbulge:hover{
    transform: scale(1.1);
}